/* ---- reset ---- */

body {
  margin: 0;
  font: normal 90% 'Roboto', Arial, Helvetica, sans-serif;
  text-align: center;
}

canvas{
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position:absolute;
  width: 100%;
  height: 100%;
  background-color: #2d8cb3;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
}

/* ---- stats.js ---- */

.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats, .count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}

#coveringDiv {
  position: absolute;
  padding: 2%;
  width: 50%;
  height: 0 auto;
  left: 50%;
  top: 15%;
  margin: -26%;
  margin-top: 0;
  background-color: white;
  text-align: left;
  border-radius: 12px;
  opacity: 0.6;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

#coveringDiv:hover {
  opacity: 1;
}

.bigList {
  color: limegreen;
  font-family: 'Exo', sans-serif;
}

.listItem {
  color: black;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}